body {
    margin: 0;
    padding: 0;
    background-color: #dcdcdc;
    overflow: hidden;
}

.button-container {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    padding: 20px;
}

.file-button {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.file-button:hover {
    background-color: #2980b9;
}

.actions {
    position: absolute;
    top: 70%;
    display: none;
    margin-top: 10px;
}

.actions button,
.actions label {
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

label {
    cursor: pointer;
}

#image-container {
    position: absolute;
}